.item_main{
  height: 1500px;
  width: 100%;
  background-color: #f8f8f8;
  .item_box{
    height: 1200px;
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
    padding: 40px 40px;
    .item_image{
    height: 330px;
    .image_headline{
      height: 20px;
      width: 200px;
      justify-content: space-around;
      display: flex;
      font-weight: bold;
      .image_title{
        font-size: 15px;
      }
      .image_red{
        font-size: 13px;
        width: 40px;
        height: 20px;
        background-color: red;
        color: white;
        text-align: center;
      }
    }
    .image_up{
      margin-top: 20px;
      width: 800px;
      height: 20px;
      font-size: 15px;
    }
      .image_box{
        margin-top: 30px;
        width: 700px;
        height: 180px;
        background-color: #f8f8f8;
        border: dashed 1px #d3d3d3;
      }
    }
    .item_title{
      height: 100px;
      background-color: lawngreen;
      .name_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_description{
      height: 180px;
      background-color: lightblue;
      .description_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_category{
      height: 100px;
      background-color: lightgrey;
      .category_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_brand{
      height: 100px;
      background-color: lightseagreen;
      .brand_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_gray{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_status{
      height: 100px;
      background-color: lightpink;
      .status_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_delivery{
      height: 100px;
      background-color: mediumaquamarine;
      .delivery_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_area{
      height: 100px;
      background-color: mistyrose;
      .area_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_day{
      height: 100px;
      background-color: olive;
      .day_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
    }
    .item_price{
      height: 120px;
      background-color: orangered;
      .price_headline{
        display: flex;
        height: 20px;
        width: 200px;
        justify-content: space-around;
        display: flex;
        font-weight: bold;
        .name{
          font-size: 15px;
        }
        .name_red{
          width: 40px;
          height: 20px;
          font-size: 13px;
          background-color: red;
          color: white;
          text-align: center;
        }
      }
      .price_box{
        height: 50px;
        margin-top: 30px;
        .price{
          height: 30px;
          width: 500px;
          margin: auto;
          background-color: palegreen;
        }
        .price_text{
          font-size: 10px;
          margin-top: 10px;
          margin-left: 450px;
        }
      }
    }
    .item_listing{
      height: 80px;
      padding: 30px 200px;
      margin: auto;
      .listing_btn{
        height: 50px;
        width: 300px;
        color: white;
        background-color: red;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}